# a secret properties file for your root gradle for jar signing

keyStore=C:\\Users\\YOURFOLDER\\.gradle\\keystore.jks
keyStoreAlias=ALIAS
keyStorePass=PASS
keyStoreKeyPass=PASS
signSHA1=HASHLOWERCASENOSYMBOLS


# use this tutorial https://darkhax.net/2017/10/jar-signing


# summary of tutorial: also allcaps means use your value
# go to your root gradle folder, so maybe /var/lib/jenkins/.gradle or C://Users//you//.gradle

# keytool -genkey -alias YOUR_ALIAS_HERE -keyalg RSA -keysize 2048 -keystore keystore.jks

# make a new gradle.properties file in your root gradle folder mentioned above, same foler as the .jks file
# do not share or commit this file anywhere
# it will look like the gradle.properties.sample file but without the .sample 
# fill in your values, use \\ for windows foldersin the keystore value, / otherwise
# for signSHA1 make sure you strip out the ':' special characters and change it to lowercase. must be accurate


# if you are in 1.14+, you need the import lines in the build.gradle for SignJar to be recognised 

# when you run gradle build

# observe to see if the signJar task completed 

# open the created .jar file (7zip or similar) and META-INF folder
# two files a .RSA and .SF named after your keyStoreAlias
